body{
    width: 1920px;
    height:800px;
    overflow-x:hidden;
}
#menu{
    background-color: #97CADB;
    height: 100px;
    font-size: 50px;
    width:100%;
    position: fixed;
}
#logo{
    color:#02457A;
    padding-left:25px;
    padding-top:15px;
    font-family: 'Rubik Dirt', cursive;
    font-weight: bold;
}
#main{
    padding-top: 100px;
    width:100%;
    height: 100%;
    background-color: #001B48;
    text-align: center;
}

.text{
    color:white;
}
.side{
    float:left;
    width:700px;
}
.side2{
    width:1220px;
}
#profile{
    width:px;
    text-align: center;
}

#description{
    width:940px;
    text-align: center;
}
.line{
    width:3px;
    height:800px;
    float:left;
    background-color: white;
}
#line{
    width:3px;
}
#photo{
    margin-top: 50px;
    margin-left: auto;
    margin-right:auto;
    width:400px;
    height:400px;
}
img{
    border-radius: 50%;
}
#text{
    margin-top:15px;
    padding:10px auto 0px auto;
    height:100%;
}
h1{
    font-size: 40px;
}
#contact{
    margin-left:130px;
    margin-right:0px;
}

#link{
    height: 50px;
    width: 100%;
}

.link{
    width:50px;
    height:50px;
    padding-left:50px;
    padding-right:50px;
    
}


#aboutme{
    padding-left: 30px;
    text-align: left;
}